.inicio {
    position: fixed;
    top: 2%;
    padding-left: 2%;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    z-index: 9999;
}

.hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

@media (min-width:320px)  { 
    .barraSuperior {
        position: fixed;
        top: 0.2%;
        left: 62px;
        width: 100%;
        z-index: 9999;
        background: transparent;
    }

    .logo {
        height:66px;
        width:62px;
        top: auto;
        background-color: transparent;
    }

    .proyectos {
        background-color: transparent;
        font-family: Sarabun;
        font-size: 15px;
        font-weight: lighter;
        text-align: left;
        color: white;
        border-color: transparent;
        cursor: pointer;
        padding-left: 0.5%;
    }
    
    .sobreMi {
        background-color: transparent;
        font-family: Sarabun;
        font-size: 15px;
        font-weight: lighter;
        text-align: left;
        color: white;
        border-color: transparent;
        cursor: pointer;
        padding: 1%;
    }
    
    .contacto {
        background-color: transparent;
        font-family: Sarabun;
        font-size: 15px;
        font-weight: lighter;
        text-align: left;
        color: white;
        border-color: transparent;
        cursor: pointer;
        padding: 1%;
    }
}

@media (min-width:801px)  {
    .barraSuperior {
        position: fixed;
        top: 2%;
        left: 0;
        width: 100%;
        z-index: 9999;
        background: transparent;
    }

    .proyectos {
        background-color: transparent;
        font-family: Sarabun;
        font-size: 36px;
        font-weight: lighter;
        text-align: left;
        color: white;
        border-color: transparent;
        cursor: pointer;
        padding-left: 2.5%;
    }

    .logo {
        height:100px;
        width:94px;
    }

    .sobreMi {
        background-color: transparent;
        font-family: Sarabun;
        font-size: 36px;
        font-weight: lighter;
        text-align: left;
        color: white;
        border-color: transparent;
        cursor: pointer;
        padding: 2%;
    }

    .contacto {
        background-color: transparent;
        font-family: Sarabun;
        font-size: 36px;
        font-weight: lighter;
        text-align: left;
        color: white;
        border-color: transparent;
        cursor: pointer;
        padding: 2%;
    }
}

@media (min-width:1281px) { 
    .barraSuperior {
        position: fixed;
        top: 5%;
        left: 6%;
        width: 100%;
        z-index: 1000;
        background: transparent;
        transition: transform 0.3s ease-in-out;
    }
    .logo {
        height:100px;
        width:94px;
    }
    .proyectos {
        background-color: transparent;
        font-family: Sarabun;
        font-size: 36px;
        font-weight: lighter;
        text-align: left;
        color: white;
        border-color: transparent;
        cursor: pointer;
        padding-left: 2.5%;
    }
    
    .sobreMi {
        background-color: transparent;
        font-family: Sarabun;
        font-size: 36px;
        font-weight: lighter;
        text-align: left;
        color: white;
        border-color: transparent;
        cursor: pointer;
        padding: 2%;
    }
    
    .contacto {
        background-color: transparent;
        font-family: Sarabun;
        font-size: 36px;
        font-weight: lighter;
        text-align: left;
        color: white;
        border-color: transparent;
        cursor: pointer;
        padding: 2%;
    }

    .hidden {
        transform: translateY(-160%);
        transition: transform 1s ease-in-out;
    }
}