/* BARRA SUPERIOR */
.barraSuperior {
    position: fixed;
    top: 5%;
    left: 6%;
    width: 100%;
    z-index: 1000;
    background: transparent;
}

.proyectos {
    background-color: transparent;
    font-family: Sarabun;
    font-size: 36px;
    font-weight: lighter;
    text-align: left;
    color: white;
    border-color: transparent;
    cursor: pointer;
    padding-left: 2.5%;
}

.sobreMi {
    background-color: transparent;
    font-family: Sarabun;
    font-size: 36px;
    font-weight: lighter;
    text-align: left;
    color: white;
    border-color: transparent;
    cursor: pointer;
    padding: 2%;
}

.contacto {
    background-color: transparent;
    font-family: Sarabun;
    font-size: 36px;
    font-weight: lighter;
    text-align: left;
    color: white;
    border-color: transparent;
    cursor: pointer;
    padding: 2%;
}