<!-- <mat-toolbar class="barraSuperior">
    <img src="../../assets/BarraSuperior/logo blanco.svg" height="100px" width="94px">
    <button class="proyectos" routerLink="/proyectos"> Proyectos </button>
    <button class="sobreMi" routerLink="/presentacion"> Sobre Mi </button>
    <button class="contacto" routerLink="/contacto"> Contacto </button>
</mat-toolbar> -->

<mat-toolbar class="barraSuperior">
    <img src="../../assets/BarraSuperior/logo blanco.svg" height="100px" width="94px">
    <button class="proyectos" (click)="scrollTo('proyectos')"> Proyectos </button>
    <button class="sobreMi" (click)="scrollTo('presentacion')"> Sobre Mi </button>
    <button class="contacto" (click)="scrollTo('contacto')"> Contacto </button>
</mat-toolbar>