<!-- <div class="branding">
    <ul class="imageGrid">
        <li class="item" *ngFor="let image of images" >
            <div class="image-aspect-container">
                <img class="image" [src]="image.url" height="" >
            </div>
        </li>
    </ul>
</div> -->


<div class="branding">
    <ul class="imageGrid">
        <li class="image-aspect-container">
            <img class="image1x1" src="../../assets/Proyectos/Branding/Agustina.jpg">
        </li>
        <li class="image-aspect-container">
            <img class="image1x1" src="../../assets/Proyectos/Branding/Refasi.jpg">
        </li>
        <li class="image-aspect-container">
            <img class="image2x1" src="../../assets/Proyectos/Branding/Nace.jpg">
        </li>
        <li class="image-aspect-container">
            <img class="image1x1" src="../../assets/Proyectos/Branding/ElAlmacen.jpg">
        </li>
        <li class="image-aspect-container">
            <img class="image1x1" src="../../assets/Proyectos/Branding/Refazi.jpg">
        </li>
        <li class="image-aspect-container">
            <img class="image1x2" src="../../assets/Proyectos/Branding/Proteger.jpg">
        </li>
        <li class="image-aspect-container">
            <img class="image1x1" src="../../assets/Proyectos/Branding/TechStore.jpg">
        </li>
        <li class="image-aspect-container">
            <img class="image1x1" src="../../assets/Proyectos/Branding/Lilith.jpg">
        </li>
        <li class="image-aspect-container">
            <img class="image1x1" src="../../assets/Proyectos/Branding/CCRecoleta.jpg">
        </li>
        <li class="image-aspect-container">
            <img class="image1x1" src="../../assets/Proyectos/Branding/AntiQ.jpg">
        </li>
    </ul>
</div>


<!-- <div class="flexcontainer">
  <div class="flexitem one">1</div>
  <div class="flexitem two">2</div>
  <div class="flexitem three">3</div>
  <div class="flexitem four">4</div>
  <div class="flexitem five">5</div>
  <div class="flexitem six">6</div>
  <div class="flexitem seven">7</div>
  <div class="flexitem eight">8</div>
  <div class="flexitem nine">9</div>
  <div class="flexitem ten">10</div>
</div> -->