.branding {
    display: block;
    background-color: #5F184B;

}
.imageGrid{
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
    gap: 48px;
}

@media only screen and (max-width: 700px) {
    .imageGrid {
      grid-template-columns: auto auto auto;
    }
  }


.item{
    color: #5F184B;
}
.image-aspect-container {
    display: flex;
    flex-wrap: wrap;

}
.image{
    width: 100%;
    max-width: 447px;
    border-radius: 60px;
    min-width: 50px;
    min-height: 50px;
}