<div class="gridContainer">
    <mat-grid-list cols="3" rowHeight="1:1" gutterSize="32px">
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Branding/Foto1.jpg" (click)="abrirImagen('../../assets/Proyectos/Branding/Foto1.jpg', 'Titulo','Descripcion')">
            <mat-grid-tile-footer>Texto de Ejemplo</mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Branding/Foto2.jpg" (click)="abrirImagen('../../assets/Proyectos/Branding/Foto2.jpg', 'Titulo','Descripcion')">
            <mat-grid-tile-footer>Texto de Ejemplo</mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="2" class="image1x2">
            <img class="gridImage" src="../../assets/Proyectos/RedesSociales/Foto7.jpg" (click)="abrirImagen('../../assets/Proyectos/RedesSociales/Foto7.jpg', 'Titulo','Descripcion')">
            <mat-grid-tile-footer>Texto de Ejemplo</mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Branding/Foto4.jpg" (click)="abrirImagen('../../assets/Proyectos/Branding/Foto4.jpg', 'Titulo','Descripcion')">
            <mat-grid-tile-footer>Texto de Ejemplo</mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Branding/Foto5.jpg" (click)="abrirImagen('../../assets/Proyectos/Branding/Foto5.jpg', 'Titulo','Descripcion')">
            <mat-grid-tile-footer>Texto de Ejemplo</mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1" class="image2x1">
             <img class="gridImage" src="../../assets/Proyectos/Branding/Foto6.jpg" (click)="abrirImagen('../../assets/Proyectos/Branding/Foto6.jpg', 'Titulo','Descripcion')"> <!-- (Cambiar para que se vea todo el logo, (la imagen se estira, delfina tiene que pasar la imagen entera para que el logo se vea bien) //TODO) -->
             <mat-grid-tile-footer>Texto de Ejemplo</mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Branding/Foto7.jpg" (click)="abrirImagen('../../assets/Proyectos/Branding/Foto7.jpg', 'Titulo','Descripcion')">
            <mat-grid-tile-footer>Texto de Ejemplo</mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Branding/Foto8.jpg" (click)="abrirImagen('../../assets/Proyectos/Branding/Foto8.jpg', 'Titulo','Descripcion')">
            <mat-grid-tile-footer>Texto de Ejemplo</mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Branding/Foto9.jpg" (click)="abrirImagen('../../assets/Proyectos/Branding/Foto9.jpg', 'Titulo','Descripcion')">
            <mat-grid-tile-footer>Texto de Ejemplo</mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Branding/Foto10.jpg" (click)="abrirImagen('../../assets/Proyectos/Branding/Foto10.jpg', 'Titulo','Descripcion')">
            <mat-grid-tile-footer>Texto de Ejemplo</mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
</div>