.claseMadreProyectos {
    background-color: #5F184B;
}

.branding {
    display: block;
    background-color: #5F184B;
}

.redes {
    display: block;
    background-color: #5F184B;
}
.packaging {
    display: block;
    background-color: #5F184B;
}