<div class="gridContainer">
    <mat-grid-list cols="3" rowHeight="1:1" [gutterSize]="gutterSize">
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Packaging/Foto1.jpg" (click)="abrirImagen('../../assets/Proyectos/Packaging/Foto1.jpg', 'Día de la madre','Diseño de packaging con trama de flores para el día de la madre diseñado para Packaging del Sur.')">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Packaging/Foto2.jpg" (click)="abrirImagen('../../assets/Proyectos/Packaging/Foto2.jpg', 'Dia del niño','Diseño de packaging con elementos infantiles con motivo del día del niño diseñado para Packaging del Sur.')">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="2" class="image1x2">
            <img class="gridImage" src="../../assets/Proyectos/Packaging/Foto3.jpg" (click)="abrirImagen('../../assets/Proyectos/Packaging/Foto3.jpg', 'Navidad','Diseño con motivo de navidad para packaging de pan dulce diseñado para Packaging del Sur.')">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Packaging/Foto4.jpg" (click)="abrirImagen('../../assets/Proyectos/Packaging/Foto4.jpg', 'San Valentín','Diseño con motivo de corazón por el día de San Valentín diseñado para Packaging del Sur.')">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Packaging/Foto5.jpg" (click)="abrirImagen('../../assets/Proyectos/Packaging/Foto5.jpg', 'Navidad','Diseño con motivo de navidad para packaging de budin, diseñado para Packaging del Sur.')">
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1" class="image2x1">
            <img class="gridImage" src="../../assets/Proyectos/Packaging/Foto6.jpg" (click)="abrirImagen('../../assets/Proyectos/Packaging/Foto6.jpg', 'San Valentín','Diseño con motivo de corazón por el día de San Valentín diseñado para Packaging del Sur.')">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Packaging/Foto7.jpg" (click)="abrirImagen('../../assets/Proyectos/Packaging/Foto7.jpg', 'Navidad','Diseño con motivo de navidad para packaging de budin con visor, diseñado para Packaging del Sur.')">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Packaging/Foto8.jpg" (click)="abrirImagen('../../assets/Proyectos/Packaging/Foto8.jpg', 'Navidad','Diseño con motivo de navidad para packaging de budin con visor, diseñado para Packaging del Sur.')">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Packaging/Foto9.jpg" (click)="abrirImagen('../../assets/Proyectos/Packaging/Foto9.jpg', 'Dia del niño','Diseño de packaging con elementos infantiles con motivo del día del niño diseñado para Packaging del Sur.')">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Packaging/Foto10.jpg" (click)="abrirImagen('../../assets/Proyectos/Packaging/Foto10.jpg', 'Navidad','Diseño con motivo de navidad para packaging con visor, diseñado para Packaging del Sur.')">
        </mat-grid-tile>
      </mat-grid-list>
  </div>
