<div class="gridContainer">
    <mat-grid-list cols="3" rowHeight="1:1" gutterSize="32px">
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Packaging/Foto1.jpg">
            <mat-grid-tile-footer>Texto de Ejemplo</mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Packaging/Foto2.jpg">
            <mat-grid-tile-footer>Texto de Ejemplo</mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="2" class="image1x2">
            <img class="gridImage" src="../../assets/Proyectos/Packaging/Foto3.jpg">
            <mat-grid-tile-footer>Texto de Ejemplo</mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Packaging/Foto4.jpg">
            <mat-grid-tile-footer>Texto de Ejemplo</mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Packaging/Foto5.jpg">
            <mat-grid-tile-footer>Texto de Ejemplo</mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1" class="image2x1">
            <img class="gridImage" src="../../assets/Proyectos/Packaging/Foto6.jpg">
            <mat-grid-tile-footer>Texto de Ejemplo</mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Packaging/Foto7.jpg">
            <mat-grid-tile-footer>Texto de Ejemplo</mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Packaging/Foto8.jpg">
            <mat-grid-tile-footer>Texto de Ejemplo</mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Packaging/Foto9.jpg">
            <mat-grid-tile-footer>Texto de Ejemplo</mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/Packaging/Foto10.jpg">
            <mat-grid-tile-footer>Texto de Ejemplo</mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
  </div>
