<div class="presentacion">
    <div class="logo-container">
        <img class="logoTop" src="../../assets/Fondo/logo gris.svg">
    </div>
    <div class="foto">
        <img class="marcoFoto" src="../../assets/Presentacion/Delfina.png">
    </div>
    
    <div class="textoPresentacion">
        
        <h1 class="hola"> Hola! </h1>
  
        <p class="presentacion">
            Mi nombre es Delfina y soy diseñadora gráfica con experiencia en BRANDING, DISEÑO DE REDES SOCIALES & PACKAGING. <br>
            Mi objetivo es brindar a los clientes diseños únicos que se adapte a su visión y objetivos.<br>
            Puedo ayudarte a hacer realidad el diseño que soñabas.<br>
            Sigamos en contacto! :)
        </p>
        
        <mat-toolbar class="botonesUtiles">
            <img class="flecha" src="../../assets/Presentacion/flecha.svg">
            <button class="linkedIn" (click)="goToLinkedIn()">
                <img src="../../assets/Presentacion/linkedin.svg" >
            </button>
            <button class="correo" (click)="desglozaCorreo()">
                <img src="../../assets/Presentacion/mail.svg">
            </button>
            <button class="instagram" (click)="goToInstagram()">
                <img src="../../assets/Presentacion/instagram.svg">
            </button>
            <button class="descargarCV" (click)="descargarCV()"> Descargar CV </button>
        </mat-toolbar>
    </div>
</div>

