<div class="presentacion">

    <img class="marcoFoto" src="../../assets/Presentacion/Delfina.png">
    
    <div class="textoPresentacion">
        
        <h1 class="hola"> Hola! </h1>
  
        <p class="presentacion">
            Mi nombre es Delfina y soy diseñadora gráfica con experiencia en BRANDING, DISEÑO DE REDES SOCIALES & PACKAGING. <br>
            Mi objetivo es brindar a los clientes diseños únicos que se adapte a su visión y objetivos.<br>
            Puedo ayudarte a hacer realidad el diseño que soñabas.<br>
            Sigamos en contacto! :)
        </p>

        <mat-toolbar class="botonesUtiles">
            <img src="../../assets/Presentacion/flechaDerecha.png" width="115px" height="60px">
            <button class="linkedIn" (click)="goToLinkedIn()">
                <img src="../../assets/Presentacion/Linkedin.png" width="50px" height="50px">
            </button>
            <button class="correo" (click)="desglozaCorreo()">
                <img src="../../assets/Presentacion/Correo.png" width="50px" height="50px">
            </button>
            <button class="instagram" (click)="goToInstagram()">
                <img src="../../assets/Presentacion/Instagram.png" width="50px" height="50px">
            </button>
            <button class="descargarCV" (click)="descargarCV()"> Descargar CV </button>
        </mat-toolbar>
    </div>
</div>

