.copy-confirmation {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: grey;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

@media (min-width:320px)  { 
    .presentacionDiv {
        background-color: #5F184B;
        flex-direction: column;
        background-image: url('../../assets/Fondo/logo gris.svg');
        background-position: 180px -100px;
        background-size: 300px;
        background-repeat: no-repeat;
        padding-bottom: 30px;
        
    }

    .textoPresentacion {
        text-align: center;
        font-family: 'Sarabun', sans-serif;
        width: 100%;
    }

    .textoPresentacion h1 {
        font-family: 'Sarabun', sans-serif;
        font-size: 31px;
        font-style: italic;
        font-weight: 400;
        line-height: 46.8px;
        color: #F8B133;
    }

    .textoPresentacion p {
        border-top-right-radius: inherit;
        font-family: 'Sarabun', sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 13px;
        color: #FFFFFF;
    }

    .marcoFoto {
        background-color: transparent;
        max-width: 50vw;
        height: auto;    
        margin-left: 25%;
    }

    .botonesUtiles {
        background-color: #5F184B;
        width: 100vw; 
    }
}
@media (min-width:768px)  { 
    .presentacionDiv {
        background-color: #5F184B;
        flex-direction: column;
        background-image: url('../../assets/Fondo/logo gris.svg');
        background-position: 0px -208px;
        background-size: 200px;
        background-repeat: no-repeat;
        padding-bottom: 30px;
    }

    .textoPresentacion {
        text-align: center;
        font-family: 'Sarabun', sans-serif;
        width: 100vw;
    }

    .textoPresentacion h1 {
        font-family: 'Sarabun', sans-serif;
        font-size: 60px;
        font-style: italic;
        font-weight: 400;
        line-height: 90px;
        color: #F8B133;
    }

    .textoPresentacion p {
        border-top-right-radius: inherit;
        font-family: 'Sarabun', sans-serif;
        font-size: 25px;
        font-weight: 400;
        line-height: 30px;
        color: #FFFFFF;
    }

    .marcoFoto {
        background-color: #5F184B;
        max-width: 50vw;
        height: auto;    
        margin-left: 25%;
    }

    .botonesUtiles {
        background-color: #5F184B;
        width: 100vw; 
    }
}
@media (min-width:1920px) { 
    .presentacionDiv {
        padding-right: 2%;
        padding-top: 5%;
        background-color: #5F184B;
        background-image: url('../../assets/Fondo/logo gris.svg');
        background-position: 1396px -208px;
        background-size: 572px;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .textoPresentacion {
        background-color: transparent;
        align-content: right;
        font-family: 'Sarabun', sans-serif;
        float: right;
        width: 38,5%;
        max-width: 740px;
        height: 49,35%;
        padding-left: 5%;
        padding-bottom: 3%;
    }
    
    .textoPresentacion h1 {
        top: auto;
        left: auto;
        font-family: 'Sarabun', sans-serif;
        font-size: 128px;
        font-style: italic;
        font-weight: 600;
        line-height: 166px;
        letter-spacing: 0em;
        text-align: left;    
        color: #F8B133;
    }
    
    .textoPresentacion p {
        block-size: auto;
        top: auto;
        left: auto;
        font-family: 'Sarabun', sans-serif;
        font-size: 32px;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
    }

    .marcoFotoPc {
        position: relative;
        left: 0%;
        bottom: -46px;
        height: 100%;
        max-width: 950px;
    }

    .botonesUtiles {
        background-color: #5F184B;
    }
}