.barraDeNavegacion {
    display: flex;
    background-color: transparent;
}
  
.branding {
    background-color: #5F184B;
    color: white;
    width: 40%;
    height: 176px;
    font-family: Sarabun;
    font-size: 64px;
    font-weight: 275;
    line-height: 83.2px;
    text-align: center;
    border: none;
    border-top-right-radius: 88px;
    border-bottom-right-radius: 88px;
    cursor: pointer;
    z-index: 2;
}
  
.redesSociales {
    background-color: #F8B133;
    color: Violeta;
    width: 40%;
    height: 176px;
    font-family: Sarabun;
    font-size: 64px;
    font-weight: 275;
    line-height: 83.2px;
    text-align: center;
    border: none;
    border-top-right-radius: 88px;
    border-bottom-right-radius: 88px;
    cursor: pointer;
    margin-left: -88px;
    z-index: 1;
}

.packaging {
    background-color: #1E1E1E;
    color: white;
    width: 40%;
    height: 176px;
    font-family: Sarabun;
    font-size: 64px;
    font-weight: 275;
    line-height: 83.2px;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-left: -88px;
    z-index: 0;
}

@media (max-width: 1052px){
    .barraDeNavegacion {
        flex-direction: column;
        columns: auto;
        text-align: center;
    }
    .branding {
        background-color: #5F184B;
        color: white;
        width: auto;
        height: 176px;
        font-family: Sarabun;
        font-size: 64px;
        font-weight: 275;
        line-height: 83.2px;
        text-align: center;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        cursor: pointer;
    }
      
    .redesSociales {
        background-color: #F8B133;
        color: Violeta;
        width: auto;
        height: 176px;
        font-family: Sarabun;
        font-size: 64px;
        font-weight: 275;
        line-height: 83.2px;
        text-align: center;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        cursor: pointer;
    }
    
    .packaging {
        background-color: #1E1E1E;
        color: white;
        width: auto;
        height: 176px;
        font-family: Sarabun;
        font-size: 64px;
        font-weight: 275;
        line-height: 83.2px;
        text-align: center;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        cursor: pointer;        
    }
}