<div class="sobreMi">
    <div class="textoSobreMi">
        <h1> Sobre Mi </h1>
        <p>
            Soy una apasionada diseñadora gráfica con un <br>
            enfoque especializado en branding y diseño de <br>
            identidad. Mi objetivo es crear experiencias visuales <br>
            impactantes y memorables que reflejen la esencia <br>
            única de cada marca. <br>
            <br>
            Con una sólida formación en diseño gráfico y años <br>
            de experiencia en el campo, poseo habilidades <br>
            excepcionales en la conceptualización y ejecución <br>
            de proyectos de branding. Mi enfoque integral <br>
            abarca desde la creación de logotipos distintivos <br>
            hasta el desarrollo de sistemas de identidad visual <br>
            cohesivos.<br>
            <br>
            Entiendo la importancia de la presencia digital en la <br>
            actualidad y cómo el diseño impacta en las <br>
            plataformas de redes sociales. He desarrollado <br>
            estrategias visuales efectivas para diversas <br>
            plataformas, creando contenido atractivo que <br>
            conecta con la audiencia y refuerza la identidad de <br>
            la marca.<br>
        </p>
        <a>
            Si quieres conocer mas sobre mi 
            y mi trabajo, ¡Sientete libre de contactarme!
        </a>
    </div>
    
    <div>
        <img class="estrellaFoto" src="../../assets/SobreMi/estrella@4x.png">
        <img class="foto" src="../../assets/SobreMi/Delfina2.png">
    </div>
</div>