<div class="sobreMi">
    <div class="textoSobreMi">
        <h1> Sobre Mi </h1>
        <p class="descripcion">
            Soy una apasionada diseñadora gráfica con un 
            enfoque especializado en branding y diseño de 
            identidad. Mi objetivo es crear experiencias visuales 
            impactantes y memorables que reflejen la esencia 
            única de cada marca. <br>
            <br>
            Con una sólida formación en diseño gráfico y años 
            de experiencia en el campo, poseo habilidades 
            excepcionales en la conceptualización y ejecución 
            de proyectos de branding. Mi enfoque integral 
            abarca desde la creación de logotipos distintivos 
            hasta el desarrollo de sistemas de identidad visual 
            cohesivos.<br>
            <br>
            Entiendo la importancia de la presencia digital en la 
            actualidad y cómo el diseño impacta en las 
            plataformas de redes sociales. He desarrollado 
            estrategias visuales efectivas para diversas 
            plataformas, creando contenido atractivo que 
            conecta con la audiencia y refuerza la identidad de 
            la marca.<br>
        </p>
        <p class="trabajo">
            Si quieres conocer mas sobre mi y mi trabajo, ¡Sientete libre de contactarme!
        </p>
    </div>
    
    <div>
        <img class="estrellaFoto" src="../../assets/SobreMi/estrella@4x.png">
        <img class="foto" src="../../assets/SobreMi/Delfina2.png">
    </div>
</div>