<div class="sobreMi">
    <div class="textoSobreMi">
        <h1 class="sobreMi"> Sobre Mi </h1>
        <p class="sobreMi">
            Mi nombre es Delfina y soy diseñadora gráfica con experiencia en BRANDING, DISEÑO DE REDES SOCIALES & PACKAGING. <br>
            Mi objetivo es brindar a los clientes diseños únicos que se adapte a su visión y objetivos.<br>
            Puedo ayudarte a hacer realidad el diseño que soñabas.<br>
            Sigamos en contacto! :)
        </p>
    </div>
    
    <div class="fotoYlogo">
        <div class="logoContainer">
            <img class="logoTop" src="../../assets/SobreMi/logo amarillo.svg">
        </div>
        <div class="fotoConEstrellaContainer">
            <img class="estrellaFoto" src="../../assets/SobreMi/estrella.svg">
            <img class="marcoFoto" src="../../assets/SobreMi/Delfina2.png">
        </div>
    </div>
    
</div>

