<div class="gridContainer">
    <mat-grid-list cols="3" rowHeight="1:1" [gutterSize]="gutterSize">
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/RedesSociales/Foto1.jpg" (click)="abrirImagen('../../assets/Proyectos/RedesSociales/Foto1.jpg', 'Flyer A Escena','Diseño de gráfica para promoción de clases de yoga, meditación y pilates para un segmento de la academia de artes escénicas A Escena llamado “Espacio de Bienestar”.')">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/RedesSociales/Foto2.jpg" (click)="abrirImagen('../../assets/Proyectos/RedesSociales/Foto2.jpg', 'Posteo A Escena','Gráfica para posteo de Instagram sobre las clases de yoga infantil de la academia de artes escénicas A Escena.')">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="2" class="image1x2">
            <img class="gridImage" src="../../assets/Proyectos/RedesSociales/Foto3.jpg" (click)="abrirImagen('../../assets/Proyectos/RedesSociales/Foto3.jpg', 'Flyer A Escena','Diseño de flyer para promocionar el comienzo del curso 23/24 para la academia de artes escénicas A Escena.')">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/RedesSociales/Foto4.jpg" (click)="abrirImagen('../../assets/Proyectos/RedesSociales/Foto4.jpg', 'Flyer Refasi','Diseño de flyer para comunicar la programación mensual del evento semanal de tango y Milonga que se celebraba en la academia de artes escénicas A Escena.')">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/RedesSociales/Foto5.jpg" (click)="abrirImagen('../../assets/Proyectos/RedesSociales/Foto5.jpg', 'Posteo Black Friday','Diseño de posteo para la academia de artes escénicas A Escena para promocionar los descuentos del Black Friday.')">
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1" class="image2x1">
            <img class="gridImage" src="../../assets/Proyectos/RedesSociales/Foto6.jpg" (click)="abrirImagen('../../assets/Proyectos/RedesSociales/Foto6.jpg', 'Banner A Escena','Diseño de banner para la página de facebook de la academia de artes escénicas A Escena.')">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/RedesSociales/Foto7.jpg" (click)="abrirImagen('../../assets/Proyectos/RedesSociales/Foto7.jpg', 'Posteo puertas abiertas','Diseño de posteo de Instagram para promocionar la semana de puertas abiertas para la academia de artes escénicas A Escena.')">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/RedesSociales/Foto8.jpg" (click)="abrirImagen('../../assets/Proyectos/RedesSociales/Foto8.jpg', 'Banner Ruta del tango','Diseño de banner para la página de facebook de Ruta del tango, con el objetivo de promocionar todos los eventos de mensuales de tango y Milonga de Madrid.')">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/RedesSociales/Foto9.jpg" (click)="abrirImagen('../../assets/Proyectos/RedesSociales/Foto9.jpg', 'Flyer Matilda','Diseño de flyer con el objetivo de promocionar un campamento artístico dictado en la academia de artes escénicas A Escena, que trata sobre el Musical de Matilda.')">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/RedesSociales/Foto10.jpg" (click)="abrirImagen('../../assets/Proyectos/RedesSociales/Foto10.jpg', 'Posteo Flamenco','Diseño de posteo para Instagram para promocionar las clases de abiertas de flamenco dictadas en la academia de artes escénicas A Escena.')">
        </mat-grid-tile>
      </mat-grid-list>
  </div>
