<div class="redesSociales">
    <ul class="imageGrid">
        <li class="image-aspect-container">
            <img class="image1x1" src="../../assets/Proyectos/Branding/Agustina.jpg">
        </li>
        <li class="image-aspect-container">
            <img class="image1x1" src="../../assets/Proyectos/Branding/Refasi.jpg">
        </li>
        <li class="image-aspect-container">
            <img class="image2x1" src="../../assets/Proyectos/Branding/Nace.jpg">
        </li>
        <li class="image-aspect-container">
            <img class="image1x1" src="../../assets/Proyectos/Branding/ElAlmacen.jpg">
        </li>
        <li class="image-aspect-container">
            <img class="image1x1" src="../../assets/Proyectos/Branding/Refazi.jpg">
        </li>
        <li class="image-aspect-container">
            <img class="image1x2" src="../../assets/Proyectos/Branding/Proteger.jpg">
        </li>
        <li class="image-aspect-container">
            <img class="image1x1" src="../../assets/Proyectos/Branding/TechStore.jpg">
        </li>
        <li class="image-aspect-container">
            <img class="image1x1" src="../../assets/Proyectos/Branding/Lilith.jpg">
        </li>
        <li class="image-aspect-container">
            <img class="image1x1" src="../../assets/Proyectos/Branding/CCRecoleta.jpg">
        </li>
        <li class="image-aspect-container">
            <img class="image1x1" src="../../assets/Proyectos/Branding/AntiQ.jpg">
        </li>
    </ul>
</div>