<div class="gridContainer">
    <mat-grid-list cols="3" rowHeight="1:1" gutterSize="32px">
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/RedesSociales/Foto1.jpg">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/RedesSociales/Foto2.jpg">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="2" class="image1x2">
            <img class="gridImage" src="../../assets/Proyectos/RedesSociales/Foto3.jpg">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/RedesSociales/Foto4.jpg">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/RedesSociales/Foto5.jpg">
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1" class="image2x1">
            <img class="gridImage" src="../../assets/Proyectos/RedesSociales/Foto6.jpg">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/RedesSociales/Foto7.jpg">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/RedesSociales/Foto8.jpg">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/RedesSociales/Foto9.jpg">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" class="image1x1">
            <img class="gridImage" src="../../assets/Proyectos/RedesSociales/Foto10.jpg">
        </mat-grid-tile>
      </mat-grid-list>
  </div>
